shader/*.txt
.vs
shader/.DS_Store	
shader/personal
cache
config
export
ibl
images
debug
plugin
vox
MagicaVoxel.exe
readme.txt
shader/mrbiggles/testing
palette/pal0.png
palette/pal1.png
palette/pal2.png
palette/pal3.png
*.exe
shader/mrbiggles/ca/ca_neighbors.txt
